{
  "token": "",
  "nest_db": {
    "host": "",
    "port": 3306,
    "user": "",
    "password": "",
    "database": ""
  },
  "adminIDs": [""],
  "updateCron": "0 */3 * * *",
  "nestBoardCommand": "nests",
  "nestBoardOrder": "pokemon_id",
  "includeUnknown": true,
  "renameUnknownFrom": "unknown",
  "renameUnknownTo": "Unknown",
  "minimumAverage": 3,
  "averageToFixed": 1,
  "areaNameLink": true,
  "linkFormat": "https://maps.google.com/maps?q={{lat}},{{lon}}",
  "titleFormat": "{{area}} Nests (~avg/hour)",
  "boardFormat": "#{{id}} {{pokemon}}{{shiny}} {{type}} ({{avg}}) {{name}}",
  "ignoredFormNames": ["Normal"],
  "replaceUnderscores": true,
  "language": "en",
  "footerFormat": "llll",
  "footerOffset": 0,
  "tileServerURL": "",
  "tileWidth": 1000,
  "tileHeight": 600,
  "emojis": {
    "type-grass": "🌿",
    "type-poison": "☠",
    "type-fire": "🔥",
    "type-flying": "🐦",
    "type-water": "💧",
    "type-bug": "🐛",
    "type-normal": "⭕",
    "type-dark": "🌑",
    "type-electric": "⚡",
    "type-rock": "🗿",
    "type-ground": "⛰️",
    "type-fairy": "🦋",
    "type-fighting": "👊",
    "type-psychic": "🔮",
    "type-steel": "🔩",
    "type-ice": "❄",
    "type-ghost": "👻",
    "type-dragon": "🐲"
  }
}